[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema="3.0.2"
python-dateutil = "*"
pytz = "*"
requests = "*"
scrapy = "*"
scrapy-sentry = "*"
scrapy-wayback-middleware = "*"
city-scrapers-core = {extras = ["azure"],version = "*"}
pdfminer-six = "*"
scrapy-playwright = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "==19.10b0"
